<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/bf456a88d2.js" crossorigin="anonymous"></script>
    <title>ReUseful Ads</title>
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <h2 class="flex pageHeading">Recently Listed</h2>
        
        <div class="adsContainer flex">
            <% Ads.forEach(Ad=> { %>
                <div class="ad <%= Ad.category %>">
                    <div class="heartAndCategory">
                        <i onclick="changeIcon(this)" class="fa-regular fa-heart like"></i>
                        <p class="category"><%= Ad.category %></p>
                    </div>
                    <div class="Image flex">
                        <%= Ad.category %>
                    </div>
                    <div>
                        <div class="line"></div>
                        <div class="flex titleCategory">
                            <div>
                                <h3 class="title"><%= Ad.title %></h3>
                            </div>
                            <h4 class="price">
                                <span class="dollar">$</span>
                                <%= Ad.price %>
                            </h4>
                        </div>
                        <div class="line"></div>
                        <div>
                            <p class="description">
                                <%= Ad.description %>
                            </p>
                            <div class="flex adBottom">
                                <div class="flex">
                                    <p class="postedBy">Posted By:</p>
                                    <p class="postedByUsername"><%= Ad.postedBy.username %></p>
                                </div>
                                <button class="btn contactSeller">Contact Seller</button>
                            </div>
                        </div>
                    </div>

                </div>
                <% }) %>
        </div>
        <script src="../functions/functions.js"></script>
</body>
</html>