<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/form.css">
    <link rel="stylesheet" href="../public/css/userPage.css">
    <script src="https://kit.fontawesome.com/bf456a88d2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>

    <form class="flex" id="editForm" hidden>
        <div class="flex editFormHeading">
            <h3>Edit Form</h3>
            <i onclick="handleCloseForm()" class="fa-solid fa-circle-xmark"></i>
        </div>
        <input type="text" name="title" id="title" placeholder="Title">
        <select class="selectCategory" name="category" id="category">
            <option value="sofas">Sofas</option>
            <option value="tables">Tables</option>
            <option value="chairs">Chairs</option>
            <option value="lamps">Lamps</option>
        </select>
        <input type="number" name="price" id="price" placeholder="Price">
        <textarea name="description" id="description" cols="20" rows="5" placeholder="Description"></textarea>
        
        <div class="flex radioContainer">
            <div class="radioOption">
                <label for="public">Post Ad</label>
                <input type="radio" name="visibility" id="visibility" value="public">
            </div>
            <div class="radioOption">
                <label for="private">Save as draft</label>
                <input type="radio" name="visibility" id="visibility" value="private">
            </div>
        </div>

        <input type="submit" value="Submit">
    </form>

    <div class="flex pageHeading">
        <a href="/ads"><i class="fa-solid fa-arrow-left"></i></a>
        <h2 class="pageHeading">User Page</h2>
    </div>

    <% locals.UserAds.forEach(Ad => { %>
        <div class="ad">
            <div class="optionsDiv flex">
                <a onclick="handleEdit('<%= Ad.id %>', '<%= Ad.title %>', '<%= Ad.category %>', '<%= Ad.price %>', '<%= Ad.description %>', '<%= Ad.visibility %>')"><i class="fa-solid fa-pencil"></i></a>
                <a onclick="handleDelete('<%= Ad._id %>')" href="#"><i class="fa-regular fa-trash-can"></i></a>
            </div>
            <div class="flex titleCategory">
                <div>
                    <h3 class="title"><%= Ad.title %></h3>
                    <p class="category"><%= Ad.category %></p>
                </div>
                <h4 class="price"><%= Ad.price %></h4>
            </div>
            <p><%= Ad.description %></p>
            <p><%= Ad.visibility %></p>
        </div>
    <% }) %>

    <script src="../functions/functions.js"></script>
</body>
</html>