<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/form.css">
    <link rel="stylesheet" href="../public/css/userPage.css">
    <script src="https://kit.fontawesome.com/bf456a88d2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>

    <div class="flex pageHeading">
        <a href="/ads"><i class="fa-solid fa-arrow-left"></i></a>
        <h2 class="pageHeading">User Page</h2>
    </div>

    <form class="flex" id="editForm" hidden>
        <h3>Edit Ad</h3>
        <input type="text" name="title" id="title" placeholder="Title">
        <select class="selectCategory" name="category" id="category">
            <option value="sofas">Sofas</option>
            <option value="tables">Tables</option>
            <option value="chairs">Chairs</option>
            <option value="lamps">Lamps</option>
        </select>
        <input type="number" name="price" id="price" placeholder="Price">
        <textarea name="description" id="description" cols="20" rows="5" placeholder="Description"></textarea>
        
        <div class="flex radioContainer">
            <div class="radioOption">
                <label for="public">Post Ad</label>
                <input type="radio" name="visibility" id="visibility" value="public">
            </div>
            <div class="radioOption">
                <label for="private">Save as draft</label>
                <input type="radio" name="visibility" id="visibility" value="private">
            </div>
        </div>

        <input type="submit" value="Submit">
    </form>

    <% locals.UserAds.forEach(Ad => { %>
        <div class="ad">
            <div class="optionsDiv flex">
                <button class="btnAdUserPage" onclick="handleEdit('<%= Ad.id %>', '<%= Ad.title %>', '<%= Ad.category %>', '<%= Ad.price %>', '<%= Ad.description %>', '<%= Ad.visibility %>')"><i class="fa-solid fa-pencil"></i></button>
                <button class="btnAdUserPage" onclick="handleDelete('<%= Ad._id %>')"><i class="fa-regular fa-trash-can"></i></button>
            </div>
            <div class="flex titleCategory">
                <div>
                    <h3 class="title"><%= Ad.title %></h3>
                    <p class="category"><%= Ad.category %></p>
                </div>
                <h4 class="price"><%= Ad.price %></h4>
            </div>
            <p><%= Ad.description %></p>
            <p><%= Ad.visibility %></p>
        </div>
    <% }) %>

    <script>
        // setTimeout(() => {
        // const msg = document.getElementById("serverMessage");
        // msg.style.display = "none";
        // }, 5000);

        function handleDelete(id) {
        console.log("Delete was triggered with id", id);
        // fetch(`/userPage/${id}`, { method: "DELETE" })
        //   .then((resp) => {
        //     console.log(resp);
        //     if (resp.redirected) {
        //       window.location.href = resp.url;
        //     }
        //   })
        //   .catch((err) => console.log(err));
      }

        function handleEdit(id, oldTitle, oldCategory, oldPrice, Olddescription, Oldvisibility) {
        const editForm = document.getElementById("editForm");
        editForm.style = "display: flex";

        // console.log("handleEdit - Form Elements", editForm.elements);

        editForm.elements.title.value = oldTitle;
        editForm.elements.category.value = oldCategory;
        editForm.elements.price.value = oldPrice;
        editForm.elements.description.value = Olddescription;
        editForm.elements.visibility.value = Oldvisibility;

        editForm.onsubmit = (event) => {
            event.preventDefault();

            const newTitle = editForm.elements.title.value;
            const newCategory = editForm.elements.category.value;
            const newPrice = editForm.elements.price.value;
            const newDescription = editForm.elements.description.value;
            const newVisibility = editForm.elements.visibility.value;

            fetch(`/userPage${id}`, {
                method: "PUT",
                headers: {
              "Content-Type": "application/json",
            },
                body: JSON.stringify({title: newTitle, category: newCategory, price: newPrice, description: newDescription, visibility: newVisibility})
            })
            .then((response) => {
              console.log(response);
              if (response.redirected) {
                window.location.href = response.url;
              }
            })
            .catch((err) => console.log(err));
            };
        }
    </script>
</body>
</html>